;; Repositories you add here will be conformed. If you do not publish
;; them by setting `:github/private?` to false then they will be
;; private.
["piotr-yuxuan/walter-ci"

 "piotr-yuxuan/algo-calisthenics"
 "piotr-yuxuan/closeable-map"
 "piotr-yuxuan/dove"
 "piotr-yuxuan/malli-cli"
 "piotr-yuxuan/slava"
 "piotr-yuxuan/slava-record"
 ;"piotr-yuxuan/choose-a-new-phone"
 "piotr-yuxuan/ephemeral-server"
 ;"piotr-yuxuan/moving-average-clustering"
 "piotr-yuxuan/nabab"
 ;"piotr-yuxuan/piotr-yuxuan"
 "piotr-yuxuan/polygam"
 "piotr-yuxuan/poor-mans-distributed-cache"
 ;"piotr-yuxuan/subspace-segment"
 "piotr-yuxuan/tsv-processing"
 "piotr-yuxuan/welcome-base-api"
 "piotr-yuxuan/security-mining"]
