{:name "Install Walter workflows"
 :on {:repository_dispatch nil
      :workflow_dispatch {:inputs {:walter-version {:description "Walter bin version"
                                                    :required false
                                                    :type :string}}}
      :push {:branches ["main"]
             :paths [".github/workflows/deploy.yml"]}}
 :concurrency {:group "deploy-jobs"
               :cancel-in-progress false}
 :env #walter/env #{:git :walter :walter-version}
 :jobs #walter/install-jobs{}}
