{:name "Deploy Walter"
 :on {:workflow_dispatch nil
      :repository_dispatch nil
      :push {:branches ["main"]
             :paths [".github/workflows/deploy.yml"]}}
 :concurrency {:group "deploy-jobs"
               :cancel-in-progress false}
 :env #walter/env #{:git :walter}
 :jobs #walter/deploy-jobs{}}
