{:name "Walter Perf"
 :on {:repository_dispatch nil
      :workflow_dispatch {:inputs {:walter-version {:description "Optional custom version"
                                                    :required false
                                                    :type :string}}}
      :schedule [;; Run only once a week, on Tuesday to save some money. Otherwise: "28 3 * * 2,5".
                 {:cron "28 3 * * 2"}]}
 :concurrency {:group "walter-perf"
               :cancel-in-progress true}
 :env #walter/env #{:git :walter-version}
 :jobs {:run-perf-tests
        {:runs-on "ubuntu-latest"
         :name "Run tests"
         :steps [{:uses "piotr-yuxuan/walter-ci@main"}
                 {:run "lein with-profile +walter/kaocha,+kaocha,+perf run -m kaocha.runner --focus-meta :perf"
                  :continue-on-error true}
                 {:run "git add ./doc/perf"
                  :continue-on-error true}
                 #step :git/diff
                 {:run "git commit --message \"Performance test report\""
                  :if "steps.diff.outcome == 'failure'"}
                 #step :git/push]}}}
