{:managed-repositories ["piotr-yuxuan/algo-calisthenics"
                        "piotr-yuxuan/choose-a-new-phone"
                        "piotr-yuxuan/closeable-map"
                        "piotr-yuxuan/dove"
                        "piotr-yuxuan/ephemeral-server"
                        "piotr-yuxuan/malli-cli"
                        "piotr-yuxuan/moving-average-clustering"
                        "piotr-yuxuan/nabab"
                        "piotr-yuxuan/piotr-yuxuan"
                        "piotr-yuxuan/polygam"
                        "piotr-yuxuan/poor-mans-distributed-cache"
                        "piotr-yuxuan/slava"
                        "piotr-yuxuan/slava-record"
                        "piotr-yuxuan/subspace-segment"
                        "piotr-yuxuan/tsv-processing"
                        "piotr-yuxuan/walter-ci"]}
