{:github-repositories ["piotr-yuxuan/walter-ci"
                       "piotr-yuxuan/closeable-map"
                       "piotr-yuxuan/slava"
                       "piotr-yuxuan/slava-records"
                       "piotr-yuxuan/dove"]}
