{:walter/use {:uses "piotr-yuxuan/walter-ci@main"}
 :checkout/repository {:name "Checkout repository"
                       :uses "actions/checkout@main"
                       :with {:submodules "recursive"}}
 ;; Better cache with custom name.
 :cache/local-maven-repository {:name "Cache local Maven repository"
                                :uses "actions/cache@v2"
                                :with {:path "~/.m2/repository"
                                       :key "${{ runner.os }}-maven-${{ hashFiles('**/project.clj') }}"
                                       :restore-keys "${{ runner.os }}-maven-"}}
 :install/clojure-cli {:name "Install Clojure CLI"
                       :uses "DeLaGuardo/setup-clojure@master"
                       :with {:cli :latest
                              :lein :latest
                              :github-token "${{ secrets.GITHUB_TOKEN }}"}}
 :install/clojure-deps-edn {:name "Install clojure-deps-edn"
                            :shell "bash"
                            :run "git clone git@github.com:practicalli/clojure-deps-edn.git $XDG_CONFIG_HOME/clojure"}
 :install/walter {:name "Download Walter executable and update PATH"
                  :shell "bash"
                  :run "${{ github.action_path }}/bash/install.sh"}
 :deploy {:run "walter self-deploy"}

 :git/push {:name "git push"
            :run "walter retry"
            :if "steps.diff.outcome == 'failure'"
            :env {:WALTER_TRY "git push"
                  :WALTER_BEFORE_RETRY "git pull --rebase"}}

 :git/diff {:run "git diff --staged --exit-code"
            :continue-on-error true
            :id "diff"}}
