{:name "Update managed repositories"
 :on {:push {:paths ["resources/state.edn"]}}
 :jobs {:job {:runs-on "ubuntu-latest"
              :steps [{;:run "echo 'Update managed repositories.'"
                       :uses "piotr-yuxuan/walter-ci@main"
                       :env {"WALTER_GITHUB_PASSWORD" "${{ secrets.WALTER_GITHUB_PASSWORD }}"
                             "WALTER_CLOJARS_PASSWORD" "${{ secrets.WALTER_CLOJARS_PASSWORD }}"
                             "WALTER_CLOJARS_USERNAME" "${{ secrets.WALTER_CLOJARS_USERNAME }}"
                             "WALTER_GIT_EMAIL" "${{ secrets.WALTER_GIT_EMAIL }}"}}]}}}
